/* Events.css */
.event-image-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px; /* Optional: Add rounded corners to the image container */
}

.event-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* Ensures the image covers the container without stretching */
  border-radius: 8px; /* Optional: Add rounded corners to the image */
}
