/* src/components/Carousel.css */

.carousel-image-container {
  display: flex;
  justify-content: center;
}

.carousel-image {
  max-width: 100%;
  height: auto;
  max-height: 400px; /* Adjust as necessary to fit your design */
  object-fit: contain; /* Ensures the image fits within its container */
}
